<nav class="navbar navbar-inverse navbar-fixed-top nav-color">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#navbar"
        aria-expanded="false"
        aria-controls="navbar"
      >
        <span class="sr-only">Toggle navigation</span>
      </button>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="navigation-item">
        <a href="" class="navigation-link">Home</a>
      </li>
      <li class="navigation-item">
        <a href="" class="navigation-link">Services</a>
      </li>
      <li class="navigation-item">
        <a href="" class="navigation-link">About Us</a>
      </li>
      <% if (!user) { %>

      <li class="navigation-item">
        <a
          class="dropdown-toggle"
          data-toggle="dropdown"
          href="#"
          class="navigation-link"
          ><span>Signup</span> / <span>Login</span></a
        >
        <ul class="dropdown-menu">
          <li class="navigation-item">
            <a href="/signup" class="navigation-link">Signup</a>
          </li>
          <li class="navigation-item">
            <a href="/login" class="navigation-link">Login</a>
          </li>
        </ul>
      </li>

      <% } else { %>

      <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
          ><%= user.profile.name %></a
        >
        <ul class="dropdown-menu">
          <li class="navigation-item">
            <a href="/profile" class="navigation-link">Profile</a>
          </li>
          <li class="navigation-item">
            <a href="/logout" class="navigation-link">Logout</a>
          </li>
        </ul>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
